@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap");
button {
  border: none;
  box-shadow: none;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

h1 {
  font-size: 128px;
  margin: 0;
}

h2 {
  font-size: 40px;
  margin: 0;
}

.fs-1 {
  font-size: 32px;
}

.fs-2 {
  font-size: 32px;
}

.fs-3 {
  font-size: 20px;
}

.text-primary {
  color: #00FFA3;
}

.text-start {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-end {
  text-align: right;
}

.container {
  max-width: 1296px;
  margin: 0 auto;
}

.col-5 {
  max-width: 526px;
}

.col-6 {
  max-width: 636px;
}

.col-7 {
  max-width: 746px;
}

.title {
  font-size: 64px;
}

.btn {
  position: relative;
  font-family: "Bruno Ace SC", cursive;
  border-radius: 32px;
  line-height: 24px;
  padding: 12px 52px 12px 24px;
  cursor: pointer;
  transition: all 0.3s;
}
.btn::after {
  content: "";
  position: absolute;
  top: calc(50% - 12px);
  right: 24px;
  width: 24px;
  height: 24px;
  background-image: url(../images/arrow_outward.png);
  background-size: contain;
}
.btn:hover {
  background: #4d4d4d;
  transition: all 0.3s;
}

.btn-light {
  background: #fff;
}
.btn-light::after {
  background-image: url(../images/arrow_outward.png);
}
.btn-light:hover {
  color: #fff;
}
.btn-light:hover::after {
  background-image: url(../images/arrow_outward-white.png);
}

.btn-dark {
  background: #000;
  color: #fff;
}
.btn-dark::after {
  background-image: url(../images/arrow_outward-white.png);
}

.flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

body {
  font-family: "Bruno Ace SC", cursive;
  font-family: 16px;
  line-height: 1.5;
  background: #000;
  color: #fff;
}

header {
  padding-top: 40px;
  padding-bottom: 24px;
}
header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
header .navbar li {
  max-width: 306px;
}
header .navbar li a:hover {
  color: #00FFA3;
  transition: all 0.3s;
}

.profile {
  padding: 72px 0;
}
.profile .image-outer {
  width: 100%;
  height: 848px;
}
.profile .image-outer img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: top left;
}
.profile .info {
  text-align: right;
}

.introduction {
  background: url(../images/background-img.png) no-repeat;
  background-size: cover;
  padding: 160px 0;
}
.introduction .title {
  margin-bottom: 36px;
}
.introduction .info {
  font-size: 24px;
  margin-bottom: 32px;
}