@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap");
button {
  border: none;
  box-shadow: none;
}

a {
  text-decoration: none;
  color: #fff;
}

p {
  margin: 0;
}

img {
  vertical-align: middle;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

h1 {
  font-size: 128px;
  margin: 0;
}

h2 {
  font-size: 40px;
  margin: 0;
}

.fs-1 {
  font-size: 32px;
}

.fs-2 {
  font-size: 24px;
}

.fs-3 {
  font-size: 20px;
}

.text-primary {
  color: #00FFA3;
}

.text-start {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-end {
  text-align: right;
}

.d-block {
  display: block;
}

.container {
  max-width: 1296px;
  margin: 0 auto;
}

.col-5 {
  max-width: 526px;
}

.col-6 {
  max-width: 636px;
}

.col-7 {
  max-width: 746px;
}

.title {
  font-size: 64px;
}

.btn {
  position: relative;
  font-family: "Bruno Ace SC", cursive;
  border-radius: 32px;
  line-height: 24px;
  padding: 12px 52px 12px 24px;
  cursor: pointer;
  transition: all 0.3s;
}
.btn::after {
  content: "";
  position: absolute;
  top: calc(50% - 12px);
  right: 24px;
  width: 24px;
  height: 24px;
  background-image: url(../images/arrow_outward.png);
  background-size: contain;
}
.btn:hover {
  background: #4d4d4d;
  transition: all 0.3s;
}

.btn-light {
  background: #fff;
}
.btn-light::after {
  background-image: url(../images/arrow_outward.png);
}
.btn-light:hover {
  color: #fff;
}
.btn-light:hover::after {
  background-image: url(../images/arrow_outward-white.png);
}

.btn-dark {
  background: #000;
  color: #fff;
}
.btn-dark::after {
  background-image: url(../images/arrow_outward-white.png);
}

.flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

body {
  font-family: "Bruno Ace SC", cursive;
  font-size: 16px;
  line-height: 1.5;
  background: #000;
  color: #fff;
  margin: 0;
}

header {
  padding-top: 40px;
  padding-bottom: 24px;
}
header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
header .navbar li {
  max-width: 306px;
}
header .navbar li a:hover {
  color: #00FFA3;
  transition: all 0.3s;
}

.profile {
  padding: 72px 0;
}
.profile .image-outer {
  width: 100%;
  height: 848px;
}
.profile .image-outer img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: top left;
}
.profile .info {
  text-align: right;
}

.introduction {
  background: url(../images/background-img.png) no-repeat;
  background-size: cover;
  padding: 160px 0;
}
.introduction .title {
  margin-bottom: 36px;
}
.introduction .info {
  font-size: 24px;
  margin-bottom: 32px;
}

.about {
  padding: 160px 0;
  background: #fff;
  color: #000;
}
.about .point {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.about .point .point-item {
  width: 306px;
  min-height: 148px;
  padding: 16px;
  border: solid 1px #E3E3E3;
  box-sizing: border-box;
}
.about .right {
  display: flex;
  margin-left: auto;
}
.about .info-box {
  margin-left: auto;
  max-width: 526px;
}

.contact {
  padding: 96px 0;
  background: linear-gradient(180deg, #050014 0%, rgba(1, 2, 30, 0.89) 100%);
}
.contact .title {
  font-size: 64px;
  white-space: nowrap;
  display: flex;
  align-items: center;
}
.contact .title img {
  display: inline-block;
  margin-left: 16px;
}
.contact .right {
  display: flex;
  margin-left: auto;
}
.contact .right .btn-list {
  display: flex;
  justify-content: space-between;
  max-width: 526px;
}
.contact .right .btn-list a {
  display: block;
  margin-right: 20px;
  border-radius: 40px;
  transition: all 0.3s;
}
.contact .right .btn-list a:last-child {
  margin-right: 0;
}
.contact .right .btn-list a:hover {
  box-shadow: 0px 0px 16px 3px rgba(144, 148, 255, 0.9), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transition: all 0.3s;
}

.projects {
  padding: 160px 0;
  background: #fff;
  color: #000;
}
.projects .title {
  font-size: 64px;
  display: flex;
  margin-left: auto;
}